extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="carousel")
    img(src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/551374_483025758401087_646442850_n.jpg", alt="a tulip")
    img(src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/551374_483025758401087_646442850_n.jpg", alt="a rose")
    img(src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/551374_483025758401087_646442850_n.jpg", alt="a daisy")
    img(src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/551374_483025758401087_646442850_n.jpg", alt="a sunflower")
    img(src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/551374_483025758401087_646442850_n.jpg", alt="a pansy")
  a(href="#", id="ui-carousel-next")
    | next
  a(href="#", id="ui-carousel-prev")
    | prev